
<div id="<%= dom_id project %>">
        
<h2>
  <strong>Title:</strong>
</h2>
<p class="text-truncate">
  <%= project.title %>
</p>

<h3>
  <strong>Description:</strong>
</h3>
<p class="text-truncate">
  <%= project.description %>
</p>
</div>
