

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Projects</h1>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <tbody>
    <% @projects.each do |project| %>
      <div class="col-sm-4">
        <tr>
        <%= render project %>
        <div style="margin-left:3%; margin-top:1%;">
          <label class="btn btn-secondary active">
          <%= link_to "Show this project", project, :class => "btn", :style=>'color:#000000;' %>
          </label>
        </div>
        </tr>
        </div>
        <% end %>
    </tbody>
    </div>
    </div>
  </div>
</div>
