<h1>New project</h1>

<%= render "form", project: @project %>

<br>

<label class="btn btn-secondary active">
<%= link_to "Back to projects", @projects_path, :class => "btn", :style=>'color:#000000;' %>
</label>
